menuconfig AM_WIFI
	bool "WiFi support"
	default n

if AM_WIFI
config AM_WIFI_SD_MMC
	bool "Amlogic SDIO Wi-Fi support"
	depends on AM_WIFI
	default n

config AM_WIFI_USB
	bool "Amlogic USB Wi-Fi Dongle Support"
	depends on AM_WIFI
	default n


source "../hardware/wifi/broadcom/drivers/ap6xxx/broadcm_40181/Kconfig"
source "../hardware/wifi/realtek/drivers/8188eu/rtl8xxx_EU/Kconfig"
source "../hardware/wifi/realtek/drivers/8188eu/rtl8xxx_EU_MP/Kconfig"
source "../hardware/wifi/realtek/drivers/8192cu/rtl8xxx_CU/Kconfig"
source "../hardware/wifi/realtek/drivers/8192du/rtl8xxx_DU/Kconfig"
source "../hardware/wifi/realtek/drivers/8192eu/rtl8192EU/Kconfig"

endif # AM_WIFI
